.class1 {
  text-align: center;
}

.centered-div {
  display: flex;
  text-align: center;
}

.home-page-image {
  flex-glow-1: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
