.class1 {
  text-align: center;
}

.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-page-image {
    width: 600px;
    height: auto;
}

.navbar {
    display: flex;
    gap: 75px;
    text-align: center;
    justify-content: center;
}

/* ABOUT PAGE */

.about-page-image {
    width: 200px;
    height: auto;
    float: left;
    margin-left: 15px;
}

.indent {
  text-indent: 40px;
  display:flex;
  align-items: center;
  gap: 15px;
  float: left;

}

/* Facts PAGE */
.bold {
  font-weight: bold;

}

.indent2 {
  text-indent: 20px;
  display:inline-flex;
  align-items: left;

}


/* FLEX PROPERTY MASTERCLASS */
.flex-table {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
}


.cell {
  height: 50px;
  font-size: 20px;
  /* background-color: lightblue;*/

  flex: 1 1 calc(33.333% - 2px);
  padding: 50px;
  min-height:10px;

  display:flex;
  align-items:center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
}
